body {
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
}

.sectionHeader{
    width: 1800px;
    margin: 0 auto;
}

.headerImg{
    background: url(Images/Rectangle1.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 754px;
}

.links ul{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-top: 50px;
    height: 15px;
    margin-right: 130px;
}

ul{
    margin-top: 0;
}

li a{
    font-family: Manrope;
    text-decoration: none;
    color: #000000;
    margin-left: 35px;
    font-weight: 700;
    font-size: 14px;
}

.headerLinks{
    list-style-type: none;
    font-family: Manrope;
    font-size: 10px;
    text-align: center;
}

.btn1{
    background-color: #F84646;
    width: 91px;
    height: 40px;
    margin-left: 40px;
    top: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.hText{
    width: 665px;
    height: 164px;
    top: 160px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}

.hText1{
    width: 650px;
    height: 99px;

    margin-top: -35px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #000000;
}

.inputText{
    margin-top: 35px;
    font-size: 16px;
    padding-left: 32px;
    padding-right: 202px;
    width: 300px;
    height: 73px;
    left: 122px;
    border-radius: 8px;
    border-style: none;
}

.headerInfo{
    padding-left: 122px;
    margin-top: 140px;
}

.bodyText{
    margin-top: 100px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.bodyText1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 994px;
    height: 109px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.2px;
}

.btn2{
    position: relative;
    left: -147px;
    background-color: #F84646;
    width: 136px;
    height: 61px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

.sectionWrapper{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: -20px;
    background: #e3e8e5;
    width: 100%;
    height: 800px;
}

.card{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 100%;
    height: auto;
}

.cardInfo{
    margin-left: auto;
    margin-right: auto;
    width: 284px;
    height: 31px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.cardText{
    margin-left: auto;
    margin-right: auto;
    width: 298px;
    height: 84px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.vectors{
    text-align: center;
}

.vectors{
    position: relative;
}

.pinkBall{
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
}

.purpleBall{
    position: absolute;
    margin-left: -10px;
}

.blueBall{
    position: absolute;
    margin-left: 40px;
    margin-top: -5px;
}

.blueBall1{
    position: absolute;
    margin-top: 5px;
}

.redBall{
    position: absolute;
    margin-left: 38px;
}

.yellowBall{
    position: absolute;
    margin-top: -10px;
    margin-left: 18px;
}

.sectionRedBackground{
    width: 100%;
    margin: 0 auto;
}

.backgroundRed{
    width: 100%;
    background: #F84646;
    height: 376px;
}

.bodyText2{
    width: 608px;
    height: 152px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
}

.title{
    width: 80%;
    margin: 0 auto;
}

.sectionTitle {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    width: 836px;
    height: 64px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.description{
    text-align: center;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 836px;
    height: 32px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.insideTitle{
    display: flex;
    width: 170px;
    height: 62px;
    margin-left: 50px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.block{
    justify-content: center;
    margin-top: 70px;
    display: flex;
}

.firstBlock{
    display: flex;
}

.insideTitle2{
    width: 230px;
    height: 62px;
    margin-left: 50px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.secondBlock{
    display: flex;
}

.circle{
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-left: 20px;
}

.thirdBlock{
    display: flex;
}

.insideTitle3{
    width: 200px;
    height: 62px;
    margin-left: 50px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.insideTitle4{
    width: 230px;
    height: 62px;
    margin-left: 50px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.bodyText2{
    margin: 0;
    width: 520px;
    height: 152px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
}

.sectionContainer{
    display: flex;
    flex-direction: row;
    width: 1024px;
    margin: 0 auto;
    margin-top: 130px;
}

.insideCont{
    margin: 0 auto;
}

.insideCont2{
    margin: 0 auto;
    padding-left: 145px;
}

.bodyText3{
    margin-top:40px;
    width: 523px;
    height: 160px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
}

.illustration{
    width: 504px;
    height: 480px;
    border-radius: 8px;
}

.illustrationCon{
    padding-left: 170px;
    margin: 0 auto;
}

.illustrationCon2{
    margin: 0 auto;
}

.btn3{
    flex-direction: row;
    justify-content: center;
    margin-top: 69px;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #F84646;
    border-radius: 8px;
    border: none;
    color: white;
}

.section_container{
    display: flex;
    flex-direction: row;
    width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
}

.insideCont2{
    margin: 0 auto;
}

.illustration2{
    width: 504px;
    height: 480px;
    border-radius: 8px;
}

.bodyText4{
    margin: 0px;
    width: 548px;
    height: 152px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #2E2E2E;
}

.bodyText5{
    width: 523px;
    height: 160px;
    margin-top:40px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
}

.services{
    width: 100%;
    margin-top: 160px;
    height: 603px;
    background: #F4F5F7;
}

.sectionServices{
    width: 900px;
    margin: 0 auto;
}

.ad{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    height: 630px;
    background: #F4F5F7;
    color: #18191F;
}

.block{
    padding-top: 45px;
    width: 700px;
    margin: 0 auto;
}

.titleServices{
    margin: 0 auto;
    text-align: center;
    padding-top: 59px;
}

.titleServices h1{
    margin: 0;
    font-family: Manrope;
    height: 64px;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
}

.descriptionServices{
    margin: 0 auto;
    text-align: center;
}

.descriptionServices h1{
    font-family: Manrope;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.imageBlock{
    display: flex;
    align-items: center;
}

.imageBlock img{
    margin-bottom: -50px;
}

.first_img{
    padding-bottom: 60px;
}

.fifth_img{
    padding-bottom: 60px;
}

.sectionUsers{
    width: 1200px;
    margin: 0 auto;
}

.users{
    text-align: center;
}

.usersImg{
    position: relative;
    margin-top: 160px;
}

.redEllipse {
    position: absolute;
    margin-top: 165px;
    margin-left: 50px;
}

.usersLabel{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 32px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;
}

.usersDescription{
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 645px;
    height: 32px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.btn4{
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 70px;
    color: #FFFFFF;
    background: #F84646;
    border-radius: 8px;
    border: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.btn4Block{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer{
    background: #F8464A;
    height: 536px;
    margin-top: 185px;
}

.footerSection{
    width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text_links{
    padding: 0;
}

.text_links li{
    margin-top: 24px;
}

.link h2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 80px;
}

.footerLinks li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-left: 0;
    text-decoration: none;
    color: #E6E6E6;
}

.lowerBLock{
    display: flex;
    width: 1500px;
    margin: 0 auto;
    margin-top: 50px;
}

.footerText{
    width: 400px;
    height: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.logs{
    margin-left: 920px;
}

@media only screen and (max-width: 1170px){
    .sectionWrapper{
        width: 1100px;
    }
}

@media only screen and (max-width: 1080px){
    .sectionWrapper{
        width: 900px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 980px){
    .bodyText1 {
        width: 800px;
        height: 150px;
    }

    .wrapper{
        margin-top: 20px;
    }

    .sectionWrapper{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 850px){
    .sectionWrapper{
        width: 700px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .bodyText1 {
        width: 500px;
        height: 200px;
    }
}

@media only screen and (max-width: 690px){
    .sectionWrapper{
        width: 600px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px){
    .sectionWrapper{
        width: 500px;
    }
}

@media only screen and (max-width: 576px) {
    /*header adaptation*/

    .sectionHeader{
        width: 480px;
    }

    .headerImg{
        background: url(Images/Rectangle1.png) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 601px;
    }

    .links ul{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding-top: 140px;
    }

    li{
        list-style-type: none;
        font-family: Manrope;
        font-size: 10px;
    }

    .headerInfo{
        margin-top: 40px;
        padding-left: 82px;
    }

    .hText{
        margin-top: 5px;
        width: 335px;
        height: 160px;
        font-weight: 800;
        font-size: 42px;
        line-height: 57px;
        text-align: center;
    }

    .hText1{
        width: 335px;
        height: 87px;
        font-size: 12px;
        line-height: 23px;
        text-align: center;
        margin-top: 30px;
    }

    .inputText{
        width: 245px;
        height: 60px;
        padding-right: 100px;
    }

    .btn2{
        top: -55px;
        width: 90px;
        height: 50px;
        left: 278px;
    }

    /*first block adaptation*/

    .bodyText{
        width: 286px;
        height: 31px;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
    }

    .bodyText1 {
        width: 334px;
        height: 109px;
        font-size: 12px;
        line-height: 22px;
    }

    .bodyText{
        margin-top: 60px;
        width: 286px;
        height: 31px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }

    .sectionWrapper{
        width: 450px;
    }

    .cardInfo{
        width: 284px;
        height: 31px;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
    }

    .cardText{
        width: 298px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
        margin-top: 2px;
    }

    /*Red background adaptation*/
    .backgroundRed{
        margin-top: 700px;
        height: 880px;
    }

    .sectionTitle{
        padding-top: 40px;
        width: 335px;
        height: 94px;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
    }

    .description{
        width: 190px;
        height: 32px;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
    }

    .block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .insideTitle{
        margin: 0;
        text-align: center;
    }

    .insideTitle2{
        margin: 0;
        text-align: center;
    }

    .insideTitle3{
        margin: 0;
        text-align: center;
    }

    .insideTitle4{
        margin: 0;
        text-align: center;
    }

    .secondBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 44px;
    }

    .thirdBlock{
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fourthBlock{
        margin-top: 44px;
        display: flex;
        flex-direction: column;
    }

    .circle{
        transform: rotate(90deg);
        margin-top: 44px;
        margin-right: auto;
        margin-left: auto;
    }


    /*fourth block adaptation*/

    .sectionContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .insideCont{
        order: 2;
    }

    .illustrationCon{
        padding-left: 0;
    }

    .illustration{
        order: 1;
        width: 335px;
        height: 312px;
    }

    .bodyText2{
        padding-top: 30px;
        width: 335px;
        height: 83px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
    }

    .bodyText3{

        width: 336px;
        height: 200px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
    }

    .btn3{
        margin-top: 40px;
        width: 338px;
        height: 48px;
    }

    .section_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .insideCont2{
        order: 1;
        padding-left: 0;
    }

    .illustrationCon2{
        padding-left: 0;
    }

    .illustration2{
        order: 2;
        width: 335px;
        height: 312px;
    }

    .bodyText4{
        padding-top: 30px;
        width: 335px;
        height: 83px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
    }

    .bodyText5{
        width: 336px;
        height: 200px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
    }
}
