body {
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
}

.header_section{
    width: 1800px;
    margin: 0 auto;
}

.header_image{
    background: url(Images/Rectangle1.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 754px;
}

/*hamburger-menu*/
.hamburger-menu{
    display: none;
}
.menu__btn {
    align-items: center;
    position: absolute;
    top: 43px;
    left: 25px;
    width: 26px;
    cursor: pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #616161;
    z-index:2;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 215px;
    margin: 0;
    padding: 70px 0;
    list-style: none;
    z-index: 1;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
}
.menu__item {
    margin-left: 0;
    display: block;
    padding: 12px;
    color: #333;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    text-decoration: underline;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.header_links ul{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-top: 45px;
    margin-right: 130px;
}

.links:hover{
    text-decoration: underline;
}

ul{
    margin-top: 0;
    list-style-type: none;
}

li a{
    font-family: Manrope;
    text-decoration: none;
    color: #000000;
    margin-left: 35px;
    font-weight: 700;
    font-size: 14px;
}

.header_button-links{
    background-color: #F84646;
    font-weight: bold;
    width: 91px;
    height: 40px;
    margin-left: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    align-items: center;
    padding: 10px 20px;
}

.header_button-links:hover{
    background: #d44242;
    cursor: pointer;
}

.header_block{
    padding-left: 122px;
    margin-top: 140px;
}

.header_title{
    font-family: Manrope;
    width: 665px;
    height: 164px;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}

.header_text{
    font-family: Manrope;
    width: 650px;
    height: 99px;
    margin-top: -35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

.input_field{
    margin-top: 35px;
    font-size: 16px;
    padding-left: 32px;
    padding-right: 202px;
    width: 300px;
    height: 73px;
    border-radius: 8px;
    border-style: none;
    outline: none;
}

.search_button{
    position: relative;
    left: -147px;
    background-color: #F84646;
    width: 136px;
    height: 61px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}
.search_button:hover{
    background: #d44242;
    cursor: pointer;
}

.section_quality_control{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}

.quality_control-title{
    font-family: Manrope;
    margin-top: 100px;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.quality_control-text{
    font-family: Manrope;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 994px;
    height: 109px;
    font-weight: normal;
    font-size: 24px;
    line-height: 39px;
}

.wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #e3e8e5;
    width: 100%;
    height: 800px;
}

.wrapper_block{
    text-align: center;
    background: white;
    width: 100%;
}

.wrapper_block_title{
    font-family: Manrope;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 24px;
}

.wrapper_block_text{
    font-family: Manrope;
    margin-left: auto;
    margin-right: auto;
    width: 298px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.figure{
    text-align: center;
    position: relative;
}

.figure:hover{
    cursor: pointer;
}

.wrapper_block_title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.pink_ball{
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
}

.purple_ball{
    position: absolute;
    margin-left: -10px;
}

.blue_ball{
    position: absolute;
    margin-left: 40px;
    margin-top: -5px;
}

.second_blue_ball{
    position: absolute;
    margin-top: 5px;
}

.red_ball{
    position: absolute;
    margin-left: 38px;
}

.yellow_ball{
    position: absolute;
    margin-top: -10px;
    margin-left: 18px;
}

.section_offers{
    width: 100%;
    margin: 0 auto;
}

.offers{
    width: 100%;
    background: #F84646;
    height: 376px;
}

.offers_info{
    width: 100%;
    margin: 0 auto;
}

.offers-title{
    font-family: Manrope;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 60px;
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
}

.offers-text{
    font-family: Manrope;
    text-align: center;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.steps{
    justify-content: center;
    display: flex;
    padding-top: 45px;
    width: 700px;
    margin: 0 auto;
}

.first_step{
    display: flex;
}

.first_step-title{
    font-family: Manrope;
    width: 180px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
}

.second_step{
    display: flex;
}

.second_step-title{
    font-family: Manrope;
    width: 230px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
}

.third_step{
    display: flex;
}

.third_step-title{
    font-family: Manrope;
    width: 215px;
    height: 62px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
}

.fourth_step-title{
    font-family: Manrope;
    width: 230px;
    height: 62px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
}

.circle{
    padding-left: 10px;
}

.section-about_us{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
}

.about-us_block{
    margin: 0 auto;
}

.about-us-title{
    font-family: Manrope;
    margin: 0;
    width: 520px;
    height: 152px;
    font-style: normal;
    font-size: 64px;
    line-height: 76px;
}

.about-us-text{
    font-family: Manrope;
    margin-top:40px;
    width: 523px;
    height: 160px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
}

.about-testing_block{
    margin: 0 auto;
    padding-left: 145px;
}

.illustration{
    width: 504px;
    height: 480px;
    border-radius: 8px;
}

.first_illustration{
    padding-left: 170px;
    margin: 0 auto;
}

.second_illustration{
    margin: 0 auto;
}

.button_find{
    margin-top: 69px;
    width: 160px;
    height: 48px;
    background: #F84646;
    border-radius: 8px;
    border: none;
    color: white;
}

.button_find:hover{
    background: #d44242;
    cursor: pointer;
}

.section-about_testing{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.illustration2{
    width: 504px;
    height: 480px;
    border-radius: 8px;
}

.about-testing-title{
    font-family: Manrope;
    margin: 0;
    width: 548px;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #2E2E2E;
}

.about-testing-text{
    font-family: Manrope;
    width: 523px;
    margin-top:40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
}

.services{
    width: 100%;
    margin: 0 auto;
}

.our_partners{
    margin-top: 160px;
    height: 630px;
    background: #F4F5F7;
}

.services-title{
    text-align: center;
    padding-top: 59px;
}

.services-title h1{
    font-family: Manrope;
    margin: 0;
    height: 64px;
    font-size: 48px;
    font-weight: 800;
}

.services-text{
    margin: 0 auto;
    text-align: center;
}

.services-text h1{
    font-family: Manrope;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.advertisement{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertisement img{
    margin-bottom: -50px;
}

.first_img{
    padding-bottom: 60px;
}

.fifth_img{
    padding-bottom: 60px;
}

.contacts{
    width: 100%;
    margin: 0 auto;
}

.users{
    text-align: center;
}

.users_img{
    position: relative;
    margin-top: 160px;
}

.red_ellipse {
    position: absolute;
    margin-top: 165px;
    margin-left: 50px;
}

.call_us-title{
    font-family: Manrope;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 32px;
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;
}

.call_us-text{
    font-family: Manrope;
    margin-left: auto;
    margin-right: auto;
    width: 645px;
    height: 32px;
    font-weight: 500;
    font-size: 18px;
}

.button_call{
    font-family: Manrope;
    width: 204px;
    height: 70px;
    color: #FFFFFF;
    background: #F84646;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 24px;
}

.button_call:hover{
    background: #d44242;
    cursor: pointer;
}

.btn_call_block{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer{
    background: #F8464A;
    height: 536px;
    margin-top: 185px;
}

.section_footer{
    width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text_links{
    padding: 0;
}

.text_links li{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.link_block h2{
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 80px;
}

.text{
    font-family: Inter;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-left: 0;
    text-decoration: none;
    color: #E6E6E6;
}

.lower_footer{
    display: flex;
    width: 1500px;
    margin: 0 auto;
    margin-top: 35px;
}

.footer_text{
    font-family: Inter;
    width: 400px;
    height: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.text:hover{
    text-decoration: underline;
}

.social_networks{
    margin-left: 870px;
}

.social_networks img:hover{
    cursor: pointer;
    opacity: 0.33;
}

.logs{
    padding-left: 10px;
}

@media only screen and (max-width: 1720px){
    .header_section{
        width: 100%;
    }

    .section_quality_control{
        width: 1000px;
    }

    .header_links ul{
        margin-right: 50px;
    }

    .footer{
        box-sizing: border-box;
    }

    .section_footer{
        width: 100%;
        padding-left: 80px;
        box-sizing: border-box;
    }

    .lower_footer{
        padding-left: 80px;
        padding-right: 80px;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }

    .social_networks{
        margin-left: auto;
    }
}

@media only screen and (max-width: 1230px){
    .section-about_us{
        width: 1100px;
    }

    .first_illustration{
        padding-left: 50px;
    }

    .section-about_testing{
        width: 1100px;
    }

    .about-testing_block{
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1100px){

    .advertisement{
        margin-top: 48px;
    }
    .our_partners{
        height: 603px;
    }
    .steps{
        width: 100%;
    }

    .first_img img{
        max-width: 150px;
    }

    .second_img{
        max-width: 170px;
    }

    .second_img img{
        max-width: 210px;
    }

    .third_img{
        max-width: 170px;
    }

    .third_img img{
        max-width: 210px;
    }

    .fourth_img{
        max-width: 170px;
    }

    .fifth_img img{
        max-width: 150px;
        margin-left: 40px;
    }

    .fourth_img img{
        max-width: 210px;
    }

    .header_section{
        width: 100%;
    }

    .header_links ul{
        margin-right: 50px;
    }

    .header_block{
        padding-left: 100px;
    }

    .header_title{
        width: 650px;
        height: 147px;
        font-size: 56px;
    }

    .header_text{
        width: 565px;
        font-size: 16px;
    }

    .input_field{
        width: 390px;
        padding-right: 0;
    }

    .search_button{
        left: -127px;
        width: 114px;
    }

    .quality_control-text{
        width: 100%;
        height: 170px;
    }

    .section_quality_control{
        width: 100%;
        margin-top: 0;
    }
    .wrapper{
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
    }
    .offers{
        height: 300px;
    }
    .steps{
        padding-top: 30px;
    }

    .offers-title{
        padding-top: 40px;
    }

    .first_step{
        width: 210px;
    }
    .first_step-title{
        width: 140px;
        height: 52px;
        font-size: 14px;
        margin-left: 0;
    }

    .second_step-title{
        width: 185px;
        height: 52px;
        font-size: 14px;
        margin-left: 0;
    }

    .third_step-title{
        width: 175px;
        height: 52px;
        font-size: 14px;
        margin-left: 30px;
    }
    .fourth_step-title{
        width: 141px;
        height: 52px;
        font-size: 14px;
        margin-left: 30px;
    }

    .section-about_us{
        width: 100%;
    }

    .about-us_block{
        width: 410px;
    }

    .about-testing_block{
        width: 400px;
        padding-left: 0;
    }

    .about-us-title{
        font-size: 58px;
        width: 515px;
        height: 119px;
    }

    .about-us-text{
        font-size: 14px;
        width: 428px;
        height: 171px;
    }

    .button_find{
        margin-top: 15px;
    }

    .illustration{
        width: 424px;
        height: 404px;
    }

    .first_illustration{
        padding-left: 0;
    }

    .illustration2{
        width: 424px;
        height: 404px;
    }

    .section-about_testing{
        width: 100%;
    }

    .about-testing-title{
        font-size: 58px;
        width: 400px;
        height: 119px;
    }

    .about-testing-text{
        font-size: 14px;
        width: 400px;
        height: 171px;
    }

    .contacts{
        width: 100%;
    }

    .footer{
        width: 100%;
        margin-top: 93px;
    }

    .section_footer{
        padding-left: 30px;
    }

    .lower_footer{
        padding-left: 30px;
        margin-top: 40px;
        justify-content: space-between;
    }

    .footer_text{
        width: 277px;
        margin: 0;
    }

    .lower_footer-text{
        margin-top: 0;
    }
}

@media only screen and (max-width: 890px){
    li a{
        margin-left: 30px;
    }

    .header_links ul{
        margin-right: 30px;
    }

    .header_button-links{
        margin-left: 30px;
    }
}

/*adaptation for IPad*/
@media only screen and (max-width: 817px){
    .first_logo{
        margin-left: 10px;
    }

    .advertisement{
        margin-top: 10px;
    }

    .first_img img{
        max-width: 170px;
    }
    .second_img img{
        max-width: 250px;
    }

    .third_img img{
        max-width: 250px;
    }

    .fourth_img{
        max-width: 250px;
    }

    .hamburger-menu{
        display: block;
    }

    .menu__box {
        height: 150px;
    }

    .menu__item {
        padding: 8px;
    }

    .header_button-links{
        position: absolute;
        top: 25px;
        right: 25px;
        font-weight: bold;
        font-size: 14px;
    }

    .header_image{
        background-size: cover;
        background: url(Images/Rectangle1.png) no-repeat center center;
        height: 500px;
    }

    .header_links ul{
        display: none;
    }

    .header_section{
        width: 100%;
    }

    .search_box{
        padding-left: 80px;
    }

    .header_block{
        margin-top: 120px;
        padding-left: 0;
    }

    .header_title{
        margin-top: 100px;
        width: 350px;
        height: 100px;
        font-size: 30px;
        line-height: 44px;
        padding-left: 80px;
        margin-bottom: 0;
    }

    .header_text{
        width: 335px;
        height: 87px;
        font-size: 14px;
        line-height: 23px;
        margin-top: 0;
        padding-left: 80px;
    }

    .search_button{
        width: 90px;
        height: 50px;
        margin-left: 27px;
    }

    .input_field{
        padding-left: 21px;
        width: 150px;
        height: 60px;
        padding-right: 164px;
        margin-top: 25px;
        font-size: 14px;
    }

    .aboutTitle{
        margin-right: 15px;
        margin-left: 15px;
    }

    .wrapper{
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .cardSize{
        height: 80px;
    }

    .offers{
        height: 740px;
    }

    .offers-title{
        padding-top: 40px;
        width: 500px;
        height: 94px;
        font-size: 42px;
        line-height: 47px;
    }

    .offers-text{
        width: 190px;
        height: 32px;
        line-height: 32px;
    }

    .steps{
        padding-top: 20px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .first_step{
        width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .first_step-title{
        height: 60px;
        margin: 0;
        text-align: center;
        font-size: 26px;
        width: 400px;
    }

    .second_step-title{
        width: 400px;
        height: 60px;
        font-size: 26px;
        text-align: center;
        margin-left: 0;
    }

    .third_step-title{
        width: 400px;
        height: 60px;
        font-size: 26px;
        text-align: center;
        margin-left: 0;
    }
    .fourth_step-title{
        width: 400px;
        height: 60px;
        font-size: 26px;
        text-align: center;
        margin-left: 0;
    }

    .second_step{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .third_step{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .fourth_step{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .circle{
        transform: rotate(90deg);
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
    }

    /*fourth block*/
    .section-about_us{
        margin-top: 65px;
        flex-direction: column;
    }

    .about-us_block{
        width: 550px;
        order: 2;
    }

    .illustration{
        order: 1;
        width: 550px;
        height: 550px;
    }
    .about-us-title{
        height: 40px;
        width: 550px;
        font-size: 36px;
        text-align: center;
    }

    .about-us-text{
        width: 550px;
        height: 150px;
        line-height: 28px;
        text-align: center;
    }

    .button_find{
        font-size: 23px;
        margin-top: 0;
        width: 550px;
        height: 56px;
    }

    .section-about_testing{
        flex-direction: column;
    }

    .about-testing_block{
        width: 550px;
        order: 1;
        margin-left: auto;
    }

    .second_illustration{
        padding-left: 0;
    }

    .illustration2{
        order: 2;
        width: 550px;
        height: 550px;
    }

    .about-testing-title{
        width: 550px;
        height: 40px;
        font-size: 36px;
        text-align: center;
    }

    .second_img{
        max-width: 300px;
    }

    .third_img{
        max-width: 300px;
    }

    .fourth_img{
        max-width: 300px;
    }

    .about-testing-text{
        width: 550px;
        height: 170px;
        line-height: 28px;
        text-align: center;
    }

    .call_us-text{
        width: 100%;
        text-align: center;
        height: 40px;
    }
    .call_us{
        margin-right: 15px;
        margin-left: 15px;
    }

    .services{
        width: 500px;
    }

    .services-title h1{
        margin-left: auto;
        margin-right: auto;
        width: 274px;
        height: 42px;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
    }

    .advertisement{
        flex-direction: column;
    }

    .our_partners{
        width: 100%;
        height: 950px;
        margin-top: 90px;
    }

    .fourth_img{
        display: none;
    }

    .fifth_img{
        display: none;
    }

    .second_img{
        text-align: center;
    }

    .third_img{
        text-align: center;
    }

    /*footer adaptation*/
    .footer{
        height: 800px;
    }

    .section_footer{
        padding-left: 0;
        width: 590px;
        grid-template-columns: 1fr 1fr;
    }

    .lower_footer{
        width: 610px;
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer_text{
        width: 277px;
        height: 32px;
    }

    .lower_footer-text{
        margin-left: 80px;
        order: 2;
    }

    .social_networks{
        margin-left: 0;
        order: 1;
    }
}

/*adaptation for phone*/
@media only screen and (max-width: 615px) {
    .about-us_block{
        width: 338px;
    }

    .about-testing_block{
        width: 338px;
    }
    /*header adaptation*/
    .header_section{
        width: 335px;
    }

    .search_box{
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
    }

    .header_image{
        height: 601px;
    }

    /*hamburger menu show*/
    .hamburger-menu{
        display: block;
    }

    .menu__box {
        height: 215px;
    }
    .menu__item {
        padding: 15px;
    }

    .header_button-links{
        position: absolute;
    }

    .header_links ul{
        display: none;
    }

    .header_title{
        margin-top: 61px;
        width: 335px;
        height: 160px;
        font-size: 42px;
        line-height: 57px;
        text-align: center;
        padding-left: 0;
    }

    .header_text{
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
        padding-left: 0;
    }

    .search_button{
        top: -57px;
        left: 115px;
        margin-left: 0;
    }

    .quality_control-title{
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: 286px;
        height: 31px;
        font-size: 24px;
        line-height: 33px;
    }

    .quality_control-text{
        width: 334px;
        height: 109px;
        font-size: 12px;
        line-height: 22px;
    }

    .wrapper {
        margin-top: 0;
        grid-template-columns: 1fr;
    }


    .file_figure{
        padding-top: 40px;
    }
    .figures{
        padding-top: 70px;
    }


    .section_quality_control{
        height: 1850px;
        width: 335px;
    }

    .wrapper_block_title{
        width: 284px;
        height: 31px;
        line-height: 33px;
    }

    .wrapper_block_text{
        height: 84px;
    }

    .offers{
        height: 930px;
    }

    .offers-title{
        width: 335px;
        font-size: 36px;
    }

    .offers-text{
        font-size: 14px;
    }

    .first_step-title{
        font-size: 18px;
        width: 200px;
    }

    .second_step-title{
        width: 200px;
        height: 52px;
        font-size: 18px;
    }

    .third_step-title{
        width: 200px;
        height: 52px;
        font-size: 18px;
    }

    .fourth_step-title{
        width: 200px;
        height: 52px;
        font-size: 18px;
    }

    .second_step{
        margin-top: 44px;
    }

    .third_step{
        margin-top: 44px;
    }

    .fourth_step{
        margin-top: 44px;
    }

    .circle{
        margin-top: 44px;
    }

    .section-about_us{
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .illustration{
        width: 335px;
        height: 312px;
    }

    .about-us-title{
        padding-top: 30px;
        width: 335px;
        height: 83px;
        line-height: 41px;
    }

    .about-us-text{
        width: 336px;
        height: 200px;
    }

    .button_find{
        margin-top: 40px;
        width: 338px;
        height: 48px;
    }

    .illustration2{
        width: 335px;
        height: 312px;
    }

    .about-testing-title{
        padding-top: 30px;
        width: 335px;
        height: 83px;
        line-height: 41px;
    }

    .about-testing-text{
        width: 336px;
        height: 200px;
    }

    .services{
        width: 250px;
    }

    .services-title h1{
        margin-left: auto;
        margin-right: auto;
        width: 274px;
        height: 42px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
    }

    .our_partners{
        height: 1000px;
    }

    .fourth_img{
        display: none;
    }

    .fifth_img{
        display: none;
    }

    .red_ellipse {
        position: absolute;
        margin-top: 100px;
        margin-left: 50px;
    }

    .call_us-title{
        width: 192px;
        height: 32px;
        font-size: 36px;
    }

    .call_us-text{
        width: 335px;
        height: 50px;
        font-size: 14px;
        line-height: 25px;
    }

    .users_img{
        margin-top: 90px;
    }

    .button_call{
        width: 124px;
        height: 42px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer{
        height: 1440px;
    }

    .section_footer{
        width: 335px;
        grid-template-columns: 1fr;
    }

    .lower_footer{
        width: 335px;
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-start;
    }

    .lower_footer-text{
        margin-left: 5px;
        margin-top: 45px;
    }

    .first_logo{
        margin-left: 0;
    }
}