body {
    padding: 0;
    margin: 0;
}

.headerImg{
    background: url(Images/Rectangle1.png) no-repeat;
    width: 100%;
    height: 754px;
}

.links{
    display: flex;
    padding-top: 45px;
    margin-left: 584px;
}

li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;

    font-size: 14px;
}

li{
    list-style-type: none;

}

.button1{
    background-color: #F84646;
    width: 91px;
    height: 40px;
    margin-left: 25px;
    top: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.hText{
    width: 665px;
    height: 164px;
    left: 122px;
    top: 160px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}

.hText1{

    width: 650px;
    height: 99px;
    left: 122px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;

    color: #000000;
}

.inputText{
    font-size: 16px;
    padding-left: 32px;
    width: 502px;
    height: 73px;
    left: 122px;
    top: 540px;

    border-radius: 8px;
    border-style: none;
}

.headerInfo{
    padding-left: 122px;
    margin-top: 120px;
}
